/* CSS GOES HERE */

@font-face {
    font-family: 'BetterYesterday';
    src: url('BetterYesterday.otf');
}

header {
    background: #F9F5E7;
    box-shadow: 0px 6px 9.4px 0px rgba(147, 96, 41, 0.50);
    padding: 10px;
}

a.head-link {
    text-decoration: none;
    color: #653603;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mobile-menu {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 28px;
    left: 40px;
    background-image: url(images/Menu.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 999;
    display: none;
}

.mobile-menu-popout {
    position: fixed;
    top: 0;
    left: -180px;
    background-color: #EEB669;
    z-index: 998;
    padding: 80px 40px;
    padding-top: 120px;
    height: 100%;
    width: 100px;
    transition: all 300ms;
}

.open {
    left: 0px;
}

html {
    scroll-behavior: smooth;
}

.close {
    background-image: url(images/Close_round.svg);
}

.mobile-menu-popout ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-popout ul a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #653603;
}

body {
    background-image: url(images/terracotta-leaf-sparkle.svg), url(images/cream-leaf-sparkle.svg);
    background-repeat: no-repeat;
    background-position-x: -100px, right;
    background-position-y: -50px, 350px;
    background-size: 500px, 300px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Montserrat;
    background-color: #FBF9F8;
}

h1 {
    font-family: 'BetterYesterday';
    font-style: normal;
    font-weight: 400;
    font-size: 185px;
    line-height: 0px;
    color: #EEB669;
    text-shadow: 2px 4px 0px #936029;
    text-align: center;

}

h2 {
    color: #936029;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7px;
    text-align: center;
}

h2.aloha {
    text-align: center;
    font-family: 'BetterYesterday';
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    letter-spacing: normal;
    color: #653603;
}

h3 {
    color: #936029;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

h4 {
    color: #936029;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    text-align: center;
}

h5 {
    color: #936029;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    letter-spacing: 25.52px;
    text-align: center;
}

h2.dark {
    color: #653603;
}

h3.dark {
    color: #653603;
}

p.dark {
    color: #653603;
}

p {
    color: #936029;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

p.diff-color {
    color: #CB8B5D;
    line-height: 0;
    text-align: center;
    letter-spacing: normal;
}

p.spacing {
    letter-spacing: 9.36px;
    line-height: 0;
}

h4.creative {
    width: 206px;
    height: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 0; 
    color: #DFBEA5;
    text-shadow: 2px 3px 0px #936029;
    padding-left: 20px;
    margin-top: 30px;
}

div.about-column p {
    line-height: 148%;
}

.portrait {
    border-radius: 365px;
    border: 8px solid rgba(101, 54, 3, 0.50);
}

span.skills-type {
    color: #936029;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0.96px;
    text-align: center;
}

section {
    padding: 60px 40px;
}

.white-wavy {
    width: 100%;
    height: 189.26px;
    left: -34px;
    top: 701px;
    padding: 0px;
}

.dark-light-wavy {
    width: 100%;
    padding: 0px;
    filter: drop-shadow(0px 30px 14.1px rgba(147, 96, 41, 0.50));
}


section#about {
    background-color: #EFD8C8;
    margin-top: -150px;
}

div.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    gap: 100px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0px;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 175px;
}

div.about-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

div.header-subheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

div.skill-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    padding-bottom: 80px;
    padding-top: 50px;
}

div.skill-group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
}

div.individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skills-type-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.gradient-container {
    border-radius: 93px;
    max-width: 1230px;
    background: linear-gradient(144deg, #EFD8C8 40.72%, #EEB669 120.24%);
    box-shadow: -11px 14px 4.7px 0px rgba(0, 0, 0, 0.29);
    padding: 40px;
    gap: 100px;
}

.image {
    border-radius: 47px;
    width: 450px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

div.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 35px 25px;
    background:#FBF9F8;
    border-radius: 65px;
    max-width: 1000px;
    box-shadow: 0px 9px 4px 0px rgba(0, 0, 0, 0.25);
}

.project_context {
    max-width: 408px;
}

.left-arrow-button {
    display: block;
    width: 40px;
}

.right-arrow-button {
    display: block;
    width: 40px;
}

div.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background:#FBF9F8;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    max-width: 1000px;
    padding: 20px;
    gap: 20px;
    margin-top: 30px;
}

.mini-gallery {
    border-radius: 15px;
    width: 90px;
}

h3.gallery {
    font-size: 17px;
}

p.gallery {
    font-size: 15px;
}

section#faqs {
    background-color: #EFD8C8;
    margin-top: -150px;
}

div.drop-downs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 0px;
}

div.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 175px;
}

div.drop-down {
    max-width: 800px;
}

.faq-remove-button {
    width: 45px;
    margin-top: 20px;
}

div.drop-down-with-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 40px;
    border: 4px solid #653603;
    background: #EDC1A0;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-right: 80px;
    gap: 80px;
    max-width: 960px;
}

.dark-wavy {
    width: 100%;
    padding: 0px;
}

section#contact {
    background: linear-gradient(213deg, rgba(238, 182, 105, 0.50) -28.24%, #F9F5E7 52.98%);
    margin-top: -150px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px;
}

ul.popout-column {
    display: flex;
    flex-direction: column;
}

label {
    color: #936029;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
}

.contact-form {
    border-radius: 93px;
    border: 5px solid #936029;
    padding: 98px 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 1085px;
}

.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    max-width: 800px;
}

.button-primary {
    background-color: #936029;
    border: none;
    color: #FBF9F8;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 9.84px;
    align-items: center;
    padding: 20px 80px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;
}

footer {
    background: #EEB669;
    color: #fff;
    padding: 10px;
}